.contact-us {
  &__content {
    @include onTablet {
      display: flex;
      gap: 24px;
    }

    @include onDesktop {
      gap: 198px;
    }
  }

  &__form {
    flex-basis: 50%;
  }

  &__field {
    margin: 0 0 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__button {
    width: 100%;
  }

    &__info-content {
    flex-basis: 50%;
    margin-top: 48px;
    font-size: 14px;
    font-weight: 400;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__info {
    margin-bottom: 24px;
  }

  &__info-title {
    margin-bottom:8px;

    color: #9fadc2;
  }
  
  &__info-link {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
}
