.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: $headerTopMobPadding 0 94px;

    @include onTablet {
      padding: $headerTopTabPadding 0 40px;
    }

    @include onDesktop {
      padding-bottom: 64px;
    }
  }

  &__top {
    @include top-actions;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__call {
    @include onDesktop {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);
        display: block;
        width: max-content;
        padding-right: 12px;
        color: #292929;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        pointer-events: none;
        transition: opacity linear 0.3s;
      }
      
      &:hover {
        &::before {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__title {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }

    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 27px;

      background-image: url(../images/sound-wave-small.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 16px;

      @include onTablet {
        width: 63px;
        height: 76px;
        background-image: url(../images/sound-waves.svg);
      }
    }
  }
}
