.testimonials {
  &__box {
    @include onTablet {
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }

  &__title {
    margin-bottom: 32px;
    @include testimonial-width;
    @extend %title;
    text-align: left;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__content {
    @include testimonial-width;
  }
  
  &__advantage-list {
    list-style: none;
  }

  &__advantage {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 410px;
    margin-top: 40px;
    font-weight: 400;
    line-height: 27px;
  }
}
