$headerTopPadding: 24px;
$colorBlue: #0075ff;
$colorHoverBtn: #005ecc;
$headerTopMobPadding: 40px;
$headerTopTabPadding: 52px;
$dark: #292929;
$testimonialTabWidth: 288px;
$testimonialDescWidth: 410px;
$black: #000;
$white: #fff;
