* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./variables";
@import "./mixins";

@import "./blocks/page";
@import "./blocks/container";
@import "./blocks/logo";
@import "./blocks/icon";
@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/about";
@import "./blocks/views";
@import "./blocks/button";
@import "./blocks/testimonials";
@import "./blocks/form-field";
@import "./blocks/contact";
@import "./blocks/footer";
